amqp==5.2.0
async-timeout==4.0.3
billiard==4.2.0
chardet==5.2.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
darkdetect==0.8.0
et-xmlfile==1.1.0
Jinja2==3.1.3
kombu==5.3.5
MarkupSafe==2.1.5
numpy==1.26.4
openpyxl==3.1.2
pandas==2.2.0
prompt-toolkit==3.0.43
PyQt6==6.7.0
PyQt6-Fluent-Widgets==1.5.8
PyQt6-Frameless-Window==0.3.9
PyQt6-Qt6==6.7.0
PyQt6-sip==13.6.0
python-dateutil==2.8.2
pytz==2024.1
pywin32==306
PyYAML==6.0.1
qt-material==2.14
setuptools==70.3.0
shiboken6==6.7.0
six==1.16.0
typing_extensions==4.9.0
tzdata==2024.1
vine==5.1.0
wcwidth==0.2.13
xlrd==1.2.0
XlsxWriter==3.1.9
